*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/build.gradle
/gradle/wrapper/gradle-wrapper.properties
.idea/
/PROGRESSLOG.txt - Shortcut.lnk
/sshTunnel.bat
/gradle.properties
/gradlew
/settings.gradle
/gradlew.bat
/gradle/
