*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/PROGRESSLOG.txt - Shortcut.lnk
/sshTunnel.bat
/gradle.properties
/gradlew
/build.gradle
/settings.gradle
/gradle/
/gradlew.bat
